/* Create a CSS reset to create your own padding and margins */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
/* Main styling the whole entire webpage*/
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Space between the lines */
    line-height: 1.7em;
}
/* All links */
a {
    color: #333333;
    /* Remove underline */
    text-decoration: none; 
}
/* Headings */
h1, h2, h3 {
    /* Space between the title */
    padding-bottom: 20px; 
}
/* Paragraph */
p {
    margin: 10px 0;
}

/* Utility Classes */
.container {
    margin: auto; 
    max-width: 1100px;
    overflow: auto; 
    padding: 0 20px; 
}
.text-primary {
    /* Enjoy gets the font color change */
    color: #f7c08a;
}
.lead {
    font-size: 18px;
}
/* About Our Hotel Button */
.btn {
    display: inline-block;
    font-size: 18px;
    color: white;
    background: #333333;
    padding: 13px 20px; 
    border: none; 
    cursor: pointer;
}
.btn:hover {
    background: #f7c08a;
    color: #333333
}
.btn-light {
    background: #f4f4f4; 
    color: #333
}
.bg-dark {
    background: #333333;
    color: #ffff; 
}
.bg-light {
    background: #f4f4f4;
    color: #333333;
}
.bg-primary {
    background:#f7c08f;
    color:  #333333;

}
.clr {
    clear: both; 
}
/* NavBar */
#navbar {
    /* Backgrough color */
    background: #333333;
    /* font color */
    color: #ffffff;
    overflow: auto; 
}
/* Color for the links  */
#navbar a {
    color: #ffffff
}

#navbar h1 {
     /* Pushes logo to the right */
    float: left; 
    padding-top: 20px;
}
#navbar ul {
    /* removes bullets */
    list-style: none;
    /* Push links to the right */
    float: right; 
}
#navbar ul li {
    /* puts list in a horizontal line to the left */
    float: left; 
}

#navbar ul li a {
    display: block; 
    padding: 20px; 
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444;
    /* When putting cursor around it changes to a color */
    color: #f7c08a;
}
#showcase  {
    background: url('../images/showcase.jpg') no-repeat
    center center/cover;
    height: 600px
}

#showcase .showcase-content {
    color: #ffffff;
    text-align: center; 
    padding-top: 170px

}

#showcase .showcase-content h1 {
    font-size: 60px; 
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}
/* Home info */
#home-info {
    height: 400px;
}
#home-info .info-img {
    float: left; 
    width: 50%; 
    background: url('../images/photo-1.jpg') no-repeat;
    min-height: 100%;
}
#home-info .info-content {
    float: right;
    width: 50%; 
    height: 100%; 
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}
#home-info .info-content p {
    padding-bottom: 30px; 
}
/* Features */
.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;

}
.box i {
    margin-bottom: 10px;
}

/* Footer */
#main-footer {
    text-align: center;
    background: #444;
    color: #ffff;
    padding: 20px;
}